<!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button> -->

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput [(ngModel)]="data.weight" min=1 max=99
          onkeypress="return (this.value.length==2 && event.keyCode > 48 && event.keyCode <= 58)
                                         ? false :  event.charCode > 48 && event.charCode <= 58">
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" *ngIf="data.exists">
    <mat-radio-button [checked]="true">Replace</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.weight" (click)="isDirected()"  id="directed" *ngIf="!data.selectDir">Directed</button>
  <button mat-button [mat-dialog-close]="data.weight" (click)="isUndirected()" id="undirected" *ngIf="!data.selectUndir">Undirected</button>
</div>
