<div class='container'>

    <nav-bar></nav-bar>

    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">Add Graph</div>
                <div class="card-body text-center max-height">
                    <div class="btn-group btn-group-vertical" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" (click)="addGraph()">Random</button>
                    </div>
                    <div class="btn-group btn-group-vertical" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" (click)="addVertex()">Populate</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-10">
            <app-canvas></app-canvas>
        </div>
    </div>

</div>