<div class="row">
    <div class="col-xl-12 main-title">
            <h4>Github: <a href="https://github.com/raresionita/Licenta">Licenta Traversal Algorithms</a></h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right">
                  <div class="btn-group">
                    <div class="dropdown dropdown-btn">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <input type='file' id="input">
                        <button class="dropdown-item" (click)="import()" id="import">Import</button>
                        <button class="dropdown-item" (click)="export()">Export</button>
                      </div>
                    </div>
                    <div class="dropdown dropdown-btn">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Algorithms
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <button class="dropdown-item" (click)="detectCycle()">Detect Cycle</button>
                        <button class="dropdown-item" (click)="topologiSort()">Topological Sort</button>
                        <button class="dropdown-item" (click)="algorithm3()">Strongly Connected</button>
                      </div>
                    </div>
                  </div>

                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary active" (click)="addVertex()">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Add Vertex
                      </label>
                      <label class="btn btn-outline-danger" (click)="removeObject()">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Remove Object
                      </label>
                      <label class="btn btn-outline-primary" (click)="defaultSelected()">
                        <input type="radio" name="options" id="option1" autocomplete="off"> Default
                      </label>
                      <label class="btn btn-outline-primary" (click)="connectVertex()">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Connect Vertex
                      </label>
                  </div>
                  <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-outline-danger" (click)="confirmClear();" >
                      <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>
            </div>
        </div>
    </div>


</div>
<hr>
<section>
  <div id="message" class="alert alert-success" role="alert" style="text-align: center;">
    Messages
  </div>
</section>
