<div class="row">
    <div class="col-xl-12 main-title">
            <h4>Github: <a href="https://github.com/raresionita/Licenta">Licenta Traversal Algorithms</a></h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right">
                  <div class="btn-group">
                    <div class="dropdown dropdown-btn">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <input type='file' id="input">
                        <button class="dropdown-item" (click)="import()" id="import">Read</button>
                        <button class="dropdown-item" (click)="export()">Write</button>
                      </div>
                    </div>
                    <div class="dropdown dropdown-btn">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyze Graph
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <button class="dropdown-item" (click)="detectCycleUndirected()" id="undirectedBtn">Detect Cycle in Undirected Graph</button>
                        <button class="dropdown-item" (click)="detectCycleDirected()" id="directedBtn">Detect Cycle in Directed Graph</button>
                        <button class="dropdown-item" (click)="topologicSort()" id="topologicBtn">Detect Topological Sort</button>
                        <button class="dropdown-item" (click)="stronglyConnected()" id="stronglyBtn">Detect Strongly Connected Components</button>
                      </div>
                    </div>
                  </div>

                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary active" (click)="addVertex()">
                        <input type="radio" > Add Vertex
                      </label>
                      <label class="btn btn-outline-danger" (click)="removeObject()">
                        <input type="radio" > Remove Object
                      </label>
                      <label class="btn btn-outline-primary" (click)="defaultSelected()">
                        <input type="radio" > Default
                      </label>
                      <label class="btn btn-outline-primary" (click)="connectVertex()">
                        <input type="radio" > Connect Vertex
                      </label>
                  </div>
                  <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-outline-danger" (click)="confirmClear();" >
                      <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>
            </div>
        </div>
    </div>

</div>
<hr>
<section>
  <div id="message" class="alert alert-success" role="alert" style="text-align: center;">
    Click on canvas to add a new vertex
  </div>
</section>
