/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.card {
  height: 70vh;
}

body{
  background-color: rgb(230, 230, 230);
}

button {
  margin-right: 5px;
  background-color: #008CBA;
}

label {
  margin-right: 5px;
  border-radius: 5%;
}